.concept {
   background:linear-gradient(180deg, $gray 0%,$gray 38%, $beige 38%, $beige 100%);
}
.concept-img {
  display:flex;
  justify-content: space-between;
  height:410px;
  @include tab {
     height:210px;
  }
  &_1 {
     background-image: url(../img/concept_1.png);
     height:100%;
     width:63%;
     background-size: cover;
     background-position: left 78% center;
     @include tab {
        width:49.5%;
     }
  }
  &_2 {
     background-image: url(../img/concept_2.png);
     height:100%;
     width:36%;
     background-size: cover;
     background-position: right 13% top 30%;
     @include tab {
        width: 49.5%;
     }
  }
}
.concept-desc {
   display:flex;
   justify-content:space-between;
   color:#fff;
   padding:70px 7% 0 6%;
   @include tab {
      flex-direction:column;
      padding:0;
   }
  h3 {
    font-size: 4rem;
    width: 450px;
    margin-top:18px;
    font-family: $mincho;
    letter-spacing: 1.5rem;
    min-width:412px;
    @include tab {
       width:100%;
       text-align:center;
    }
  }
  p {
    width:34vw;
    min-width:361px;
    @include tab {
       width:100%;
       margin-top:20px;
    }
  }
}